.font-face{
    font-family: "gilroylight";
    src: url(../font/Gilroy-Light.otf);
}

.font-face{
    font-family: "gilroybold";
    src: url(../font/Gilroy-ExtraBold.otf);
}
.container{
    width: 1200px;
}

.profile-name{
    font-family: Helvetica;
    font-size: 1.5em;
    font-weight: 700;
    color: #1C2022;
}



.profile-id{
    font-family: Helvetica;
    font-size: 1.5em;
    font-weight: 400;
    color: #697882;
}



.tweet{
    font-family: Helvetica;
    font-size: 1.5em;
    font-weight: 400;
    color: #1C2022;
}


.tweet-link{
    font-family: Helvetica;
    font-size: 1.5em;
    font-weight: 400;
    color: #1DA1F2;    
}



.date{
    font-family: Helvetica;
    font-size: 1.3em;
    color: #697882;
    font-weight: 400;
}

.stats{
    font-family: Helvetica;
    font-size: 1.2em;
    color: #697882;
    font-weight: 700;
}

.icon{
    font-family: Helvetica;
    font-size: 1.2em;
    color: #697882;
}

#board{
    border: 2.19382px solid #E1E8ED;
    border-radius: 9px;
    box-sizing: border-box;
    background: #FFFFFF;
}

.banner-name{
    font-size: 5.2em;
    font-weight: 900;
    line-height: 1.0;
}

body{
    background-image: url("../img/bgg.png");
    background-color: #000000;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat, repeat;
    background-size: 100% 100%;
}

.img{
    position: relative;
    bottom: 190px;
}
.banner-name{
    color: #ffffff;
}

.prelative{
    position: relative;
}
.hand{
    position: absolute;
    bottom: 0;
    left: 0;
}
.text-position{
    padding-top: 100px;
}

.customheight{
    height: 100%;
}

.twitter{
    width: 30px;
    float: right;
}
.pad-5{
    padding: 3rem;
}




@media only screen and (max-width: 600px) {
   .banner-name{
       font-size: 3.0em;
       text-align: center;
   }
   .text-position{
        padding-top: 10px;
        height: auto;
        margin-bottom: 30px;
        
    }
    .profile-name{
        font-size: 0.7em;
    }
    .profile-id{
        font-size: 0.9em;
    }
    .tweet,.tweet-link, .icon, .fa{
        font-size: 0.8em;
    }
    .date p{
        font-size: 0.7em;
    }
    .customheight{
        height: 0px !important;
    }
   .stats{
    font-size: 0.8em;
   }
   .twitter{
        width: 20px;
    }
    .hand img{
        width: 80%;
        float: right;
        margin-right: 26px;
    }
    .hand{
        right: 0;
        left: 0;

    }
    .profile-img{
        width: 50px !important;
    }

    .date{
        font-size: 1.2em;
    }
   
  }


@media only screen and (min-width: 1080px) and (min-height: 1920px) {
   .customheight{
        display: inline !important;
   }
   .col-md-5{
        max-width: 1000px !important;
   }
   .col-md-6{
        max-width: 1000px !important;
   }
  #loggo{
      display: none;
  }
  .hand{
      left: 50px;

  }
  .hand img{
      width: 1000px;
  }
  .lg-screen{
      text-align: center;
  }
  .offset-md-1{
    margin-left: 0px !important;
  }
 #board{
    margin-top: 200px;
 }
  .banner-name{
    font-size: 10em;
  }
  .profile-img{
      width: 150px;
  }
  .profile-name, .profile-id, .tweet, .tweet-link, .date{
      font-size: 40px;
  }
  .stats{
    font-size: 2.5em;
   }
   .twitter{
    width: 60px;
   }
}

@media only screen and (min-width: 2560px) and (min-height: 960px) {
    .banner-name{
        font-size: 9.2em;
    }
    .profile-name, .profile-id, .tweet, .tweet-link, .date{
        font-size: 50px;
    }
    .stats{
      font-size: 2.6em;
     }
}

 @media screen and (height: 450px) {
    .hand img{
        width: 410px;
    }
    .text-position{
        padding-top: 10px;
        height: auto;
        
    }
    .banner-name{
        font-size: 3.9em;

    }
    .profile-name, .profile-id, .tweet, .tweet-link, .date{
        font-size: 32px;
    }
    .stats{
        font-size: 1.3em;
       }
}

@media screen and (height: 270px) {
    .hand img{
        width: 210px;
    }
    .text-position{
        padding-top: 10px;
        height: auto;
        
    }
    .banner-name{
        font-size: 3.4em;

    }
    .profile-name, .profile-id, .tweet, .tweet-link, .date{
        font-size: 16px;
    }
    .stats{
        font-size: 1.3em;
    }
    .pad-5{
        padding: 10px !important;
    }
}


 @media screen and (height: 300px) {
    .hand img{
        width: 100px;
    }
    .banner-name{
        font-size: 2.5em;

    }
    .profile-name, .profile-id, .tweet, .tweet-link, .date{
        font-size: 8px;
    }
    .stats{
        font-size: 8px;
    }
    .profile-img{
      width: 40px !important;

    }
    .pad-5{
        padding: 10px !important;
    }
   
} 

@media screen and (height: 240px) {
    .hand img{
        width: 100px;
    }
    .banner-name{
        font-size: 2.8em;

    }
    .profile-name, .profile-id, .tweet, .tweet-link, .date{
        font-size: 8px;
    }
    .stats{
        font-size: 8px;
    }
    .profile-img{
      width: 40px !important;

    }
    .pad-5{
        padding: 10px !important;
    }
} 